._500_container {
    width: 100%;
    height: calc(100vh - 20%);
    word-wrap: break-word;
    margin-top: 7%;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    box-sizing: border-box;
}

@media (max-width: 960px) {
    ._500_container {
        margin-top: 5%;
        height: calc(100vh - 12.5%);
    }
}

@media (max-width: 468px) {
    ._500_container {
        height: calc(100vh - 7.5%);
    }
}

@media (max-height: 468px) {
    ._500_container {
        height: calc(100vh - 16.5%);
    }
}

._500_text {
    overflow-y: auto;
    padding: 0 15px 35px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}
