._510_container {
    background-color: #84c12d;
    padding: 26px 0;
    margin: -20px 16px 0;
    color: #1d2024;
    border-radius: 1%;
}

@media (max-width: 960px) {
    ._510_container {
        padding: 14px 0;
        margin: -16px 14px 0;
        background-color: #9ac064;
    }
}

._510_title {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.8px;
    margin-left: 40px;
    border-radius: 3px;
}

@media (max-width: 960px) {
    ._510_title {
        margin-left: 36px;
    }
}

@media (max-width: 468px) {
    ._510_title {
        font-size: 17px;
        margin: 0 auto;
        padding-left: 10px;
    }
}

._510_iconStyles {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 64px;
}

@media (max-width: 960px) {
    ._510_iconStyles {
        margin-right: 32px;
    }
}

@media (max-width: 468px) {
    ._510_iconStyles {
        margin-left: -10px;
        margin-right: 12px;
    }
}
