@import url('https://fonts.googleapis.com/css?family=Muli');

._100_container {
    height: 100vh;
    min-height: 100vh;
    overflow-y: hidden;
}

._100_burgerIcon {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 960px) {
    ._100_burgerIcon {
        top: 42px;
        top: 37.5px;
        left: 28.5px;
    }
}

@media (max-width: 765px) {
    ._100_burgerIcon {
        top: 31px;
        top: 34px;
    }
}

@media (max-width: 667px) {
    ._100_burgerIcon {
        top: 31px;
        top: 30px;
    }
}

@media (max-width: 570px) {
    ._100_burgerIcon {
        top: 27.5px;
    }
}

@media (max-width: 468px) {
    ._100_burgerIcon {
        top: 24.9px;
        left: 21px;
    }
}

._100_section {
    background-Color: #e1e2e1;
    padding: 10px 30px 0;
}

@media (max-width: 468px) {
    ._100_section {
        padding: 30px 7px 7px;
    }
}

a {
    text-decoration: none;
    cursor: auto;
}

button {
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0;
    box-shadow: none;
    min-width: 0;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    border-radius: 3%;
    line-height: 0px;
}

button:hover {
    background-color: none;
}
